hostname = *.*xima*.*,*.xmcdn.com,pan.baidu.com,buy.itunes.apple.com,ap?.bilibili.com,api.feidee.net, userapi.feidee.net, tg.feidee.com, community.feidee.com,api.infzm.com,vira.llsapp.com,*.gotokeep.com,*.baidu.com,ios.prod.ftl.netflix.com,ap*.intsig.net,account.wps.cn,mp.weixin.qq.com,api.xiuxiu.meitu.com, h5.xiuxiu.meitu.com,app.bilibili.com, grpc.biliapi.net

#喜马拉雅 *.*xima*.*,*.xmcdn.com
http-request ^http[s]?:\/\/((.+ximalaya.+)|(.+xmcdn.+)) script-path=https://raw.githubusercontent.com/nameking77/Qx/main/rewrite/xmly.js

# 美颜相机一次性解锁内购（by黑黑酱）
http-response ^https:\/\/api\.meiyan\.com\/iap\/verify\.json requires-body=1,script-path=https://raw.githubusercontent.com/nzw9314/QuantumultX/master/Script/myxj.js

#Picsew（解锁付费订阅）  & buy.itunes.apple.com
http-response ^https:\/\/buy\.itunes\.apple\.com\/verifyReceipt requires-body=1,script-path=https://gjds.vip/QX/pojie/Picsew.js

# 随手记.     api.feidee.net, userapi.feidee.net, tg.feidee.com, community.feidee.com
# 注：解锁付费皮肤
http-response ^https?:\/\/((user)?api|community)\.feidee\.(net|com)\/(v\d\/(pay/vip|profile/basic_info|app_themes/types)|transfer\/gapi\/accurat\/v\d\/tasks) requires-body=1,script-path=https://raw.githubusercontent.com/I-am-R-E/QuantumultX/main/JavaScript/SuiShouJi.js
http-response ^https?:\/\/api\.feidee\.net\/v\d\/app_themes\/\d+\/download url script-echo-response https://raw.githubusercontent.com/I-am-R-E/QuantumultX/main/JavaScript/SuiShouJi.js
^https?:\/\/tg\.feidee\.com\/online_ad\/ url reject

# 南方周末(2022.01.21)。     api.infzm.com
# 注：登陆后，白嫖年费会员到2030年，白嫖年费会员所有课程 ，白嫖所有付费课程。
http-response ^https?:\/\/api\.infzm\.com\/mobile\/(user|contents\?|contents\/\d+\?|contents\/\d+\/isview\?|course_borrow|courses\/\d+\?|mall|course_items) requires-body=1,script-path=https://raw.githubusercontent.com/I-am-R-E/QuantumultX/main/JavaScript/NanFangZhouMo.js

# 美图秀秀(2022.01.17)    api.xiuxiu.meitu.com, h5.xiuxiu.meitu.com
# 注：解锁高级会员（包括但不限于：付费海报模板、高级滤镜、高级素材等），无须登陆
http-response ^https?:\/\/(h5|api)\.xiuxiu\.meitu\.com\/v\d\/(h\d\/vip|vip|user)\/ requires-body=1,script-path=https://raw.githubusercontent.com/I-am-R-E/QuantumultX/main/JavaScript/MeiTuXiuXiu.js

# 流利说·阅读   vira.llsapp.com
# 使用方法：会员时长到2030年，破解的标志是打开阅读️限制，不会提示会员才能看️️️，如果没有显示会员，剩余天数999。必须卸载重装！
http-response ^https?:\/\/vira\.llsapp\.com\/api\/v\d\/\w+\/\w+$  requires-body=1,script-path=https://raw.githubusercontent.com/I-am-R-E/QuantumultX/main/JavaScript/LiuLiShuo-YueDu.js

# keep解锁会员    *.gotokeep.com
http-response ^https://(.+).gotokeep.com(/athena/v5/people/my|/nuocha/plans) requires-body=1,script-path=https://raw.githubusercontent.com/zwf234/rules/master/js/keep.js

# 哔哩哔哩 app.bilibili.com, grpc.biliapi.net
# 开屏页广告,推荐页广告,动态(推荐话题和列表广告),视频播放页面(up主推荐广告,相关推荐广告)
http-response ^https:\/\/app\.bilibili\.com\/x\/(v2\/(splash\/(list|show)|feed\/index\?)|resource\/show\/tab\/v2) requires-body=1,script-path=https://raw.githubusercontent.com/app2smile/rules/master/js/bilibili-json.js
http-response ^https:\/\/app\.bilibili\.com\/bilibili\.app\.(view\.v1\.View\/View|dynamic\.v2\.Dynamic\/DynAll)$ requires-body=1,script-path=https://raw.githubusercontent.com/app2smile/rules/master/js/bilibili-proto.js

#港台番剧自动跳转 ap?.bilibili.com
#http-response ^https:\/\/ap(p|i)\.bilibili\.com\/(pgc\/view\/(v\d\/)?app|x(\/v\d)?\/view\/video)\/(season|online)\?access_key requires-body=1,script-path=https://raw.githubusercontent.com/NobyDa/Script/master/Surge/JS/Bili_Auto_Regions.js
#http-response ^https:\/\/app\.bilibili\.com\/x\/v\d\/search(\/type)?\?.+?%20(%E6%B8%AF|%E5%8F%B0|%E4%B8%AD)& url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/Surge/JS/Bili_Auto_Regions.js

#百度网盘解锁vip，视频倍速播放     pan.baidu.com
http-response ^https:\/\/pan\.baidu\.com\/rest\/2\.0\/membership\/user requires-body=1,script-path=https://raw.githubusercontent.com/zwf234/rules/master/js/BaiduCloud.js

#微信屏蔽跳转
#在微信中打开淘宝等被屏蔽链接，点击 Surge/QuantumultX 通知跳转到 Safari 或淘宝 App
http-response ^https?:\/\/weixin110\.qq\.com\/cgi-bin\/mmspamsupport-bin\/newredirectconfirmcgi requires-body=1,script-path=https://raw.githubusercontent.com/zwf234/rules/master/js/weixin110.js

# 强制跳转百度UA    *.baidu.com
http-request ^https?:\/\/(?!d\.pcs).*(?<!map)\.baidu\.com url request-header (\r\n)User-Agent:.+iPhone.+(\r\n) request-header $1User-Agent: Mozilla/5.0 (iPhone; CPU iPhone OS 13_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.1.1 Mobile/15E148 Safari/16C50 Quark/604.1 T7/10.3 SearchCraft/2.6.3 (Baidu; P1 8.0.0)$2

# Netflix评分
http-request ^https?://ios-h2\.prod\.ftl\.netflix\.com/iosui/user/.+path=%5B%22videos%22%2C%\d+%22%2C%22summary%22%5D script-path=https://raw.githubusercontent.com/yichahucha/surge/master/nf_rating.js
http-response ^https?://ios-h2\.prod\.ftl\.netflix\.com/iosui/user/.+path=%5B%22videos%22%2C%\d+%22%2C%22summary%22%5D requires-body=1,script-path=https://raw.githubusercontent.com/yichahucha/surge/master/nf_rating.js

#显示netflix的收视率（IMDb）  ios.prod.ftl.netflix.com
http-request ^https?://ios\.prod\.ftl\.netflix\.com/iosui/user/.+path=%5B%22videos%22%2C%\d+%22%2C%22summary%22%5D script-path=https://raw.githubusercontent.com/yichahucha/surge/master/nf_rating.js
http-response ^https?://ios\.prod\.ftl\.netflix\.com/iosui/user/.+path=%5B%22videos%22%2C%\d+%22%2C%22summary%22%5D requires-body=1,script-path=https://raw.githubusercontent.com/yichahucha/surge/master/nf_rating.js

# 扫描全能王 pro  ap*.intsig.net
http-response ^https:\/\/(api|api-cs)\.intsig\.net\/purchase\/cs\/query_property\? requires-body=1,script-path=https://raw.githubusercontent.com/NobyDa/Script/master/Surge/JS/CamScanner.js

# WPS解锁  超级会员、wps会员、稻壳会员 account.wps.cn
http-response ^https://account.wps.*/api/users/ requires-body=1,script-path=https://raw.githubusercontent.com/NobyDa/Script/master/Surge/JS/Wps.js

#去除微信公众号文章底部广告    mp.weixin.qq.com
http-response ^https?:\/\/mp\.weixin\.qq\.com\/mp\/getappmsgad requires-body=1,script-path=https://raw.githubusercontent.com/NobyDa/Script/master/QuantumultX/File/Wechat.js

# 彩云小译   (by @superuv)
http-response ^https:\/\/api\.interpreter\.caiyunai\.com\/v1\/user requires-body=1,script-path=https://raw.githubusercontent.com/nzw9314/QuantumultX/master/Script/cyxy.js

#智能证件照相机 (by @superuv)
http-response ^https:\/\/app\.xunjiepdf\.com\/api\/v4\/virtualactregister requires-body=1,script-path=https://raw.githubusercontent.com/nzw9314/QuantumultX/master/Script/znzj.js

#洪恩双语绘本 (By 军哥哥)
http-response ^https:\/\/bookapi\.ihuman\.com\/(v1\/get\_user\_info|v1\/get\_purchase\_list) requires-body=1,script-path=https://raw.githubusercontent.com/nzw9314/QuantumultX/master/Script/hnsyhb.js

# 美颜相机一次性解锁内购（by黑黑酱）
http-response ^https:\/\/api\.meiyan\.com\/iap\/verify\.json requires-body=1,script-path=https://raw.githubusercontent.com/nzw9314/QuantumultX/master/Script/myxj.js
